input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.logo{
  margin-left: 20px;
  margin-top: -70px;
}

.dash-cards{
  margin-top:10px;
  border: 1px solid #dee2e6;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 3px 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.view-course{
  width: 90%;
  text-align: left;
}

.view-course h3{
  color: #1d8177;
  margin-bottom: 15px;
}

.breadcrumb{
  margin-bottom: 5px;
}

.previous-button{
  float: left;
}

.next-button{
  float: right;
}

.sidebar{
  min-height: 91vh;
  text-align: center;
  margin-top: 20px;
}

.ant-menu-item-selected{
  background-color: #26A69A15 !important;
  color: #26A69A !important;
}

.ant-menu-inline .ant-menu-item::after{
  border-right: 3px solid #26A69A !important;
}

.ant-menu-item-active{
  color: #26A69A !important;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #26A69A !important;
}

.ant-menu-submenu-selected{
  color: #26A69A !important;
}

.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
  color: #26A69A !important;
}

.ant-menu-submenu-title:active{
  background-color: #26A69A15 !important;
}

.ant-menu-item:active{
  background-color: #26A69A15 !important;
}

.App{
  background-color: rgb(255, 255, 255);
}

.dashboard{
  background-color: rgb(245, 245, 245);
  text-align: center;
}

.main-dash{
  background-color: rgb(245, 245, 245);
}

.main-page{
  padding: 0;
}

.top-nav{
  float: left;
  margin-left: auto;
  margin-right: 10px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: -70px;
  text-align: left;
}

.web-page {
  display: grid;
  grid-template-columns: 250px 1fr;
}

[type="radio"]:not(:checked), [type="radio"]:checked  {
  position: relative;
  opacity: 100%;
  pointer-events: all;
}

.progress-bar{
  background-color: #26A69A;
}

.table-header-click{
  background-color: white;
  border: none;
  font-weight: bold;
}

.table-header-click:hover{
  color: rgb(110, 110, 110);
}

.table-header-click:focus{
  background-color: white;
}

.course-summary{
  border: solid 1px #dee2e6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 3px 3px 5px 0 rgba(0, 0, 0, 0.19);
  margin: 0 10px;
  border-radius: 10px;
  background-color: white;
  font-size: 1.1rem;
  padding: 10px;
  height: 100%;
}

.course-summary h5{
  margin: 10px 0 20px;
  color: #1d8177;
  font-family: monospace;
}

.card-first{
  margin-left: 20px;
}

.page-item.active .page-link{
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.col .row{
  margin-right: auto;
  margin-left: auto;
}

.hero{
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.hero-text{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  width: 100%;
  font-family: monospace;
}

.test-details h3{
  color: #1d8177;
}

.test-details h4{
  color: #1d8177;
}

.course-details h3{
  color: #1d8177;
}

.course-details h4{
  color: #1d8177;
}

.test-stats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "check attempt effective diff pop"
  ;
}

.test-checked{
  grid-area: check;
  margin: auto;
}

.test-checked-color{
  color: rgb(2, 104, 199);
}

.test-attempt{
  grid-area: attempt;
  margin: auto;
}

.test-attempt-color{
  color: purple;
}

.test-effective{
  grid-area: effective;
  margin: auto;
}

.test-effective-color{
  color: rgb(133, 7, 7);
}

.test-diff{
  grid-area: diff;
  margin: auto;
}

.test-diff-color{
  color: rgb(185, 111, 0);
}

.test-pop{
  grid-area: pop;
  margin: auto;
}

.test-pop-color{
  color: rgb(140, 143, 0);
}

.clickable-table tr:hover{
  cursor: pointer;
}

.clickable-table th:hover{
 cursor: auto;
}

.test-summary-card:hover{
  text-decoration: underline;
}

.nav-link{
  color: #26A69A;
}

.nav-link:hover{
  color: #1e857a;
}

.btn:hover{
  color: white;
}

.outline-btn{
  background-color: white;
  color: #26A69A;
  border: 1px solid #26A69A;
  box-shadow: none;
}

.outline-btn:hover{
  background-color: #26A69A;
  color: white;
  border: none;
  box-shadow: none;
}

.error-message{
  background-color: rgb(255, 110, 110);
  border: 3px solid red;
  color: white;
  padding: 10px;
  margin: auto;
  width: 90%;
  border-radius: 10px;
}

.page-item.active .page-link{
  background-color: #26A69A;
  border-color: #26A69A;
}

.test-taking{
  color: #1d8177;
}

.test-result-green{
  background-color: #26A69A30;
  color: #26A69A;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #26A69A;
}

.test-result-red{
  background-color: #FF000030;
  color: rgb(220, 0, 0);
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgb(220, 0, 0);
}

.test-result-yellow{
  background-color: #FFFF0030;
  color: #ffbf00;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #ffbf00;
}

.navbar-nav .dropdown-menu{
  left: 170px;
  top: 58px;
  min-width: 9rem;
}

.dropdown-item{
  line-height: 30px;
  color: #0f443f;
}

.dropdown-item:hover{
  color: #26A69A;
  background-color: #26A69A15;
}

.dropdown-item:active{
  background-color: #26A69A;
  color: white;
}

.dropdown-toggle{
  min-width: 300px;
  text-align: right;
}

.profile-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.profile-popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 500px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  top: -100px;
}

.profile-details{
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas:
    "header header"
    "id id-detail" 
    "name name-detail"
    "email email-detail"
    "role role-detail"
    "cancel cancel"
  ;
  grid-column-gap: 5px;
}

.profile-cancel{
  background-color: rgb(182, 0, 0);
  grid-area: cancel;
}

.profile-cancel:hover{
  background-color: rgb(200, 0, 0);
}

.profile-header h4{
  color: #1d8177;
}

.profile-header{
  text-align: center;
  grid-area: header;
}

.profile-details strong{
  color: #1d8177;
}

.profile-details h6{
  margin: 6px 0;
}

.user-id{
  grid-area: id;
  text-align: right;
}

.user-id-detail{
  grid-area: id-detail;
  text-align: left;
}

.name{
  grid-area: name;
  text-align: right;
}

.name-detail{
  grid-area: name-detail;
  text-align: left;
}

.email{
  grid-area: email;
  text-align: right;
}

.email-detail{
  grid-area: email-detail;
  text-align: left;
}

.role{
  grid-area: role;
  text-align: right;
}

.role-detail{
  grid-area: role-detail;
  text-align: left;
}

.course-stats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "check attempt effective"
  ;
}

.course-report-stats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "check attempt effective exam part"
  ;
}

.course-checked{
  grid-area: check;
  margin: auto;
}

.course-checked-color{
  color: rgb(2, 104, 199);
}

.course-attempt{
  grid-area: attempt;
  margin: auto;
}

.course-attempt-color{
  color: purple;
}

.course-effective{
  grid-area: effective;
  margin: auto;
}

.course-effective-color{
  color: rgb(133, 7, 7);
}

.course-exam{
  grid-area: exam;
  margin: auto;
}

.course-exam-color{
  color: rgb(185, 111, 0);
}

.course-part{
  grid-area: part;
  margin: auto;
}

.course-part-color{
  color: rgb(140, 143, 0);
}

.btn-flat:hover{
  color: #26A69A;
}

.landing-hero{
  position: relative;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 3px 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.landing-hero img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  background-color: black;
}

.landing-content{
  height: 500px;
  margin-top: 100px;
}

.landing-content-img img{
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4), 3px 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.landing-content-img-right img{
  border-radius: 10px 0px 0 10px;
  object-position: 0 0;
}

.landing-content-img-left img{
  border-radius: 0 10px 10px 0;
  object-position: 100% 0;
}

.landing-hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  width: 100%;
}

.landing-content-box{
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
}

.landing-content-details{
  margin: 20px;
}

.landing-content-details h3{
  font-family: monospace;
  color: #1d8177;
}

.landing-content-details h5{
  letter-spacing: 1px;
  line-height: 2em;
}

.report-view-test h4{
  color: black;
}

.report-view-test{
  margin: 20px;
}

.edit-score{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "created done bonus"
    "created-detail done-detail bonus-detail"
    "total total total"
    "form form form"
  ;
}

.edit-score-tests-created{
  grid-area: created;
}

.edit-score-tests-created-detail{
  grid-area: created-detail;
}

.edit-score-tests-done{
  grid-area: done;
}

.edit-score-tests-done-detail{
  grid-area: done-detail;
}

.edit-score-bonus{
  grid-area: bonus;
}

.edit-score-bonus-detail{
  grid-area: bonus-detail;
}

.edit-score-total{
  grid-area: total;
  padding-top: 20px;
}

.edit-score-form{
  grid-area: form;
}

.score-cancel{
  background-color: rgb(182, 0, 0);
  margin-left: 20px;
}

.score-cancel:hover{
  background-color: rgb(200, 0, 0);
}

.score-confirm{
  margin-right: 20px;
}