input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.logo{
  margin-left: 20px;
}

.logout-nav{
  float: right;
  margin-right: 20px;
  margin-top: -66px;
}

.dash-cards{
  margin-top:10px;
  border: 1px solid #dee2e6;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 3px 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.view-course{
  width: 95%;
  text-align: left;
}

.view-course h3{
  color: #1d8177;
  margin-bottom: 15px;
}

.breadcrumb{
  margin-bottom: 5px;
}

.previous-button{
  float: left;
}

.next-button{
  float: right;
}

.sidebar{
  min-height: 91vh;
  text-align: center;
  margin-top: 20px;
}

.ant-menu-item-selected{
  background-color: #26A69A15 !important;
  color: #26A69A !important;
}

.ant-menu-inline .ant-menu-item::after{
  border-right: 3px solid #26A69A !important;
}

.ant-menu-item-active{
  color: #26A69A !important;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #26A69A !important;
}

.ant-menu-submenu-selected{
  color: #26A69A !important;
}

.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
  color: #26A69A !important;
}

.ant-menu-submenu-title:active{
  background-color: #26A69A15 !important;
}

.ant-menu-item:active{
  background-color: #26A69A15 !important;
}

.App{
  background-color: rgb(255, 255, 255);
}

.dashboard{
  background-color: rgb(245, 245, 245);
  text-align: center;
}

.main-dash{
  background-color: rgb(245, 245, 245);
}

.main-page{
  padding: 0;
}

.top-nav{
  float: left;
  margin-left: auto;
  margin-right: 10px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: -70px;
  text-align: left;
}

.web-page {
  display: grid;
  grid-template-columns: 300px 1fr;
}

[type="radio"]:not(:checked), [type="radio"]:checked  {
  position: relative;
  opacity: 100%;
  pointer-events: all;
}

.progress-bar{
  background-color: #26A69A;
}

.table-header-click{
  background-color: white;
  border: none;
  font-weight: bold;
}

.table-header-click:hover{
  color: rgb(110, 110, 110);
}

.table-header-click:focus{
  background-color: white;
}

.course-summary{
  border: solid 1px #dee2e6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 3px 3px 5px 0 rgba(0, 0, 0, 0.19);
  margin: 0 10px;
  border-radius: 10px;
  background-color: white;
  font-size: 1.1rem;
  padding: 10px;
  height: 100%;
}

.course-summary h5{
  margin: 10px 0 20px;
  color: #1d8177;
  font-family: monospace;
}

.card-first{
  margin-left: 20px;
}

.page-item.active .page-link{
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.col .row{
  margin-right: auto;
  margin-left: auto;
}

.hero{
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.hero-text{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  width: 100%;
  font-family: monospace;
}

.test-details h3{
  color: #1d8177;
}

.test-details h4{
  color: #1d8177;
}

.course-details h3{
  color: #1d8177;
}

.course-details h4{
  color: #1d8177;
}

.test-stats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "check attempt effective diff pop"
  ;
}

.test-checked{
  grid-area: check;
  margin: auto;
}

.test-checked-color{
  color: rgb(2, 104, 199);
}

.test-attempt{
  grid-area: attempt;
  margin: auto;
}

.test-attempt-color{
  color: purple;
}

.test-effective{
  grid-area: effective;
  margin: auto;
}

.test-effective-color{
  color: rgb(133, 7, 7);
}

.test-diff{
  grid-area: diff;
  margin: auto;
}

.test-diff-color{
  color: rgb(185, 111, 0);
}

.test-pop{
  grid-area: pop;
  margin: auto;
}

.test-pop-color{
  color: rgb(140, 143, 0);
}

.clickable-table tr:hover{
  cursor: pointer;
}

.clickable-table th:hover{
 cursor: auto;
}

.test-summary-card:hover{
  text-decoration: underline;
}

.nav-link{
  color: #26A69A;
}

.nav-link:hover{
  color: #1e857a;
}

.outline-btn{
  background-color: white;
  color: #26A69A;
  border: 1px solid #26A69A;
  box-shadow: none;
}

.outline-btn:hover{
  background-color: #26A69A;
  color: white;
  border: none;
  box-shadow: none;
}

.error-message{
  background-color: rgb(255, 110, 110);
  border: 3px solid red;
  color: white;
  padding: 10px;
  margin: auto;
  width: 90%;
  border-radius: 10px;
}

.page-item.active .page-link{
  background-color: #26A69A;
  border-color: #26A69A;
}